*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    min-height: 100vh;
    /* background: url('/Source/Ciberpunk_bgtest.jpg') no-repeat; */
    background: linear-gradient(180.2deg, rgb(120, 85, 137) -6.9%, rgb(35, 9, 31) 76.7%);
    filter: blur(1.5);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.text{
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700 */

.Secondary {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #FFB5DA;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #FDBF60;
    font-weight: 550;
    text-decoration: none;
    margin: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #FDBF60;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.social-media{
    width: 100px;
    justify-content: space-between;
    height: 40px;
    background: transparent;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.social-media a:hover{
    border-color:#FDBF60;;
}

.social-media a i{
    font-size: 24px;
    color: #FDBF60;;
    transform: rotate(-45deg);
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content{
    max-width: 925px;
}
.home-content h1{
    font-size: 90px;
    line-height: 1.2;
    color: #F6F6F6;
}
.home-content h3{
    font-size: 60px;
    color: #f7a832;
}

.home-content p{
    font-size: 25px;
    margin: 15px 0 30px;
    color: #F6F6F6;
}

.btn{
    display: inline-block;
    padding: 10px 28px;
    background: #b37393;
    border:2px solid #b37393;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 20px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.btn:hover{
    background: transparent;
    color: #59D5E0;
    transition: .3s;
}

.home-img{
    position: relative;
    display: inline-flex;
}
/* #mobil{
    position: inherit;
    width: 250px;
    margin: 20px;
} */
#mobil {
    margin: 20px;
    padding: 55px 2%;
    border-radius: 30px;
    border: .5px solid #000000;
    background-color: #312a2a;
    width: 40%;
    float: left;
    box-shadow: inset 0px 0px 0px -4px rgba(255, 255, 255, 0.1), 1px 1px 6px rgba(0, 0, 0, 0.05), 1px 1px 8px rgba(0, 0, 0, 0.07);
}
#video{
    position: inherit;
    border-radius: 30px;
    border: .5px solid black;
    width: 20%;
    width: 300px;
    height: 300px;
    margin: 20px;

}

/* .home-img{
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
    z-index: 1;
}
.img-box{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 25px solid blue;
    z-index: 0;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
} */

